---
import Layout from '../layouts/Layout.astro';
import PeopleForm from '../components/PeopleForm';
import PeopleFormStepper from '../components/PeopleFormStepper';
import Container from '../components/Container';
import Sidebar from '../components/Sidebar';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="grid grid-cols-5">
			<Sidebar currentPath="people" />
			<div class="col-span-4">
				<Container>
					<div class="py-12 px-8">
						<div class="mb-4">
							<PeopleFormStepper client:load />
						</div>
						<PeopleForm client:load />
					</div>
				</Container>
			</div>
		</div>
	</main>
</Layout>

<style>
	
</style>
